<% include partials/header %>

<h1>Welcome home!</h1>

<img height="400px" width="400px" src="https://www.rover.com/blog/wp-content/uploads/2018/05/everything-you-need-to-know-about-doggo-lingo-HERO-960x540.jpg">

<% include partials/footer %>